if ($uri !~ "^/index.php"){
	set $rule_0 1$rule_0;
}
if ($uri !~ "^/login.php"){
	set $rule_0 2$rule_0;
}
if ($uri !~ "^/logout.php"){
	set $rule_0 3$rule_0;
}
if ($uri !~ "^/res"){
	set $rule_0 4$rule_0;
}
if ($uri !~ "(.html|.js|.css|.jpg|.png|.gif|.bmp|.woff|.ttf|.svg|.eot|.ico)$"){
	set $rule_0 5$rule_0;
}
if ($rule_0 = "54321"){
	rewrite ^/(.*)$ /index.php?dir=$1 last;
}