.run{
	width: 300px;
	height: 372px;
	position: relative;
}
.run-pic{
	position: absolute;
	width: 300px;
	height: 372px;
	display: block;
	top: 0;
	left: 0;
}
#frame1{
	background: url(images/run_01.png);
}
#frame2{
	background: url(images/run_02.png);
}
#frame3{
	background: url(images/run_03.png);
}
#frame4{
	background: url(images/run_04.png);
}
#frame5{
	background: url(images/run_05.png);
}
#frame6{
	background: url(images/run_06.png);
}
#frame7{
	background: url(images/run_07.png);
}
#frame8{
	background: url(images/run_08.png);
}
#frame9{
	background: url(images/run_09.png);
}
#frame10{
	background: url(images/run_10.png);
}
#frame11{
	background: url(images/run_11.png);
}
#frame12{
	background: url(images/run_12.png);
}