*{
	margin: 0;
	padding: 0;0
}
.book{
	width: 300px;
	margin: 50px auto;
	position: relative;
	perspective: 1500px;
	-webkit-perspective: 1500px;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transform: rotateX(10deg);
	-webkit-transform: rotateX(10deg);
}
li{
	position: absolute;
	font-size: 0;
	width: 300px;
	height: 400px;
	box-shadow: inset  0 0 2px rgba(0,0,0,.1);
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	transition: transform 1s;
	-webkit-transition: transform 1s;
}
.cover{
	background: url(cover.png);
	z-index: 0;
	transform-origin: left center;
	-webkit-transform-origin:left center;
}
.page1{
	background: url(page.png);
	left: -300px;
	z-index: -1;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	transform-origin: right center;
	-webkit-transform-origin:right center;
}
.page2{
	background: url(page2.png);
	z-index: -2;
}
.book:hover .cover{
	transform: rotateY(-180deg);
	-webkit-transform: rotateY(-180deg);
}
.book:hover .page1{
	transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
}